---
layout: page
title: Blog
description: "Ruby on Rails blog"
keywords:
  - articles on ruby &amp; ruby on rails
  - posts on ruby on rails
  - updates in ruby on rails
  - blogs on ruby on rails
  - blogs on Flutter
  - articles on Flutter
---

<div class="container m-t-50">
  <div class="row">
    <div class="col-md-12 para center-text">
      <h3>
        🚀 Exploring the Ruby on Rails Universe: Insights, Tips, and Tutorials
      </h3>
    </div>
  </div>
</div>

<br/>

<div class="container m-t-20">
  {% include posts.html posts=paginator.posts %}
</div>

{% if paginator.total_pages > 1 %}
  <div class="container">
    <div class="col-md-12">
      {% include elements/_pagination_links.html %}
    </div>
  </div>
{% endif %}
