---
layout: default
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <div class="post-container">
              {{ content }}
            </div>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>

  <hr/>
  <section>
    <div class="row">
      <div class="block">
        {% include elements/subscribe_to_newsletter.html %}
      </div>
    </div>
  </section>
  <hr/>
</div>

<div class="container">
  {% include suggestions.html %}
</div>
